html, body{
   margin: 0;
}

body {
   height: 100%;
   display: grid;
   grid-template-rows: 1fr 1fr 1fr 1fr;
   background-color: #004400;
   display: grid;
   grid-template-rows: 25% 50% 25%;
}

header {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   background-color: black;
   color: white;
}

header h1 {
   grid-column-start: 3;
}

.header-image {
   grid-column-start: 5;
   grid-column-end: 6;
   padding: 10px;
}

.header-image img {
   width: 100%;
}

footer {
   display: grid;
   text-align: center;
   grid-template-rows: 1fr 1fr;
   background-color: black;
   color: white;
   grid-row-start: 3;
   grid-row-end: 5;
}