@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Montserrat&display=swap');

:root {
   --heading-font: 'Homemade Apple', cursive;
   --paragraph-font: 'Montserrat', sans-serif;
 }

html, body {
   background-color: rgba(175, 225, 255, 1);
}

main {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   column-gap: 1%;
   font-family: var(--paragraph-font);
}

.example-tile {
   background-color: rgba(0,0,0,.2);
   color: black;
   text-align: center;
   box-shadow: 2px 2px 2px black;
}