@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Montserrat&display=swap");

:root {
  --heading-font: "Homemade Apple", cursive;
  --paragraph-font: "Montserrat", sans-serif;
}

html,
body {
  background-color: rgba(175, 225, 255, 1);
}

a, a:visited {
   color: white;
   text-shadow: 1px 1px black;
   text-decoration: none;
}

@media screen and (min-width: 800px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1%;
    font-family: var(--paragraph-font);
  }

  .example-tile {
    display: grid;
    grid-template-rows: 15% 5% 5% 60% 10%;
    background-color: rgba(0, 0, 0, 0.2);
    color: black;
    text-align: center;
    box-shadow: 2px 2px 2px black;
    max-height: 100%;
  }

  .example-tile img {
    max-height: 100%;
    justify-self: center;
  }
}
