@mixin circle($deg, $dist) {
   transform: rotate($deg) translateX($dist) rotate(-$deg);
}

@mixin sphere($width, $height, $color) {
   height: $height;
   width: $width;
   aspect-ratio: 1 / 1;                    
   background: $color;
   border-radius: 50%;
   background: radial-gradient(circle at $width / 3 $width / 3, $color, black);
   box-shadow: $width / 10 $width / 10 $width / 5 rgba(0, 0 , 0, .2);
}


svg.spheres {
   @include MQ(L) {
      @include sphere(12vw, 12vw, red);
   }
   @include MQ(M) {
      @include sphere(10vw, 10vw, red);
   }
   @include MQ(S) {
      @include sphere(20vw, 20vw, red);
   }
   @include sphere(80vw, 80vw, red);
}