@import url('https://fonts.googleapis.com/css2?family=Yaldevi:wght@200;400&display=swap');

:root {
   --font-prime: 'Yaldevi';
   --primary: #04a7e3;
   --secondary: #59c134;
}

html, body {
   font-family: var(--font-prime);
   background-color: var(--primary);
}

header {
   background-color: black;
}

#logo-container {
   background-color: var(--primary);
}

nav {
   background-color: black;
   border-top: 2px solid var(--secondary);
}

nav ul {
   list-style-type: none;
}

nav li:hover a {
   background-color: var(--secondary);
   color: white;
}

a {
   text-decoration: none;
   color: var(--secondary);
}

#title {
   background-color: black;
}



footer {
   background-color: black;
   padding : 20px 0 20px 0;
}