header {
   background: linear-gradient(black, transparent);
   box-shadow: 0 0 10px black;
}

#title {
   background-color: transparent;
   text-align: left;
   font-size: 2em;
}

#hamburger {
   display: none;
}

#towns {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
}

.town {
   display: flex;
   flex-direction: column;
   margin: 10px;
   text-align: center;
}


nav {
   background-color: transparent;
   display: flex;
}


/******Main*****/

#banner {
   height: 20%;
}

#hero-pic {
   overflow: hidden;
   height: 100%;
}

#hero-image {
   height: 100%;
}


/**Article**/

#article {
   width: 70%;
}


/*****Events  ************************************/

#events {
   width: 60%;
   font-size: 1.6em;
}

/********Storm Center**********/

#storm-form {
   display: flex;
   text-align: center;
   justify-content: center;
}

form {
   background-color: rgba(0, 0, 0, .2);
   display: flex;
   flex-direction: column;
   width: 80%;
}

.input {
   display: grid;
   grid-template-columns: 20% 80%;
   padding: 10px;
}

input {
   height: 1.5em; 
}


.radio {
   padding: 20px;
   margin: 10px;
   border: 2px solid gray;
}

/**********Gallery**********/

#gallery {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
}

#gallery div {
   background-color: rgba(0, 0, 0, .2);
}

#gallery div:hover {
   box-shadow: 2px 2px 5px black;
}