html {
   font-size: 1em;
}


/**Header**/



header {
   grid-template-columns: 20% 1fr;
}

#title {
   text-align: left;
   margin-left: 20%;
}

#hamburger {
   margin: 20px;
}

#navigation {
   margin: 0;
   grid-column: 1 / 3;
   width: 100%;
   padding: 0;
}

nav {
   padding: 0;
   margin: 0;
   width: 100%;
}

nav ul {
   padding: 10px 0;
   margin: 0;
   width: 100%;
   display: flex;
   flex-direction: row;
}

nav li {
   font-size: 1.5em;
   flex-grow: 1;
}

.active {
   list-style-type: none;
}

/**Towns**/

.town {
   display: grid;
   grid-template-columns: 1fr 1fr;
}

/**Footer**/

.location-map {
   max-width: 400px;
}

#article {
   padding: 0 5%;
}

#forecast {
   margin: 5%;
}