header {
    height: 225px;
}

#nav-links {
    background-color: transparent;
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    z-index: 9999;
}

.nav-item {
    background-color: transparent;
    color: white;
    font-size: 1em;
    padding: 7px;
}

#logo img {
    height: 225px;
    margin-top: 30px;
}

#dir {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    margin: auto;
}

#desc {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#desc h3 {
    grid-column: 1 / 5;
}

#desc > p {
    grid-column: 1 / 5;
    line-height: 1em;
}

.weather-forecast {
    display: flex;
    color: white;
    margin: 10px;
    padding: 40px;
}