header {
    height: 225px;
}

#nav-links {
    background-color: transparent;
    position: absolute;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    z-index: 9999;
    box-shadow: none;
}

.nav-item {
    background-color: rgba(0, 0, 0, .8);
    color: white;
    font-size: 1.2em;
    padding: 10px;
    border-radius: 0 0 25% 0;
}

#logo img {
    height: 200px;
    margin-top: 50px;
}

footer {
    display: grid;
    grid-template-areas: "title title title"
                         "logo contact credit"
                         "logo social credit";
}

footer h3 {
    grid-area: title;
}

#contact-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-area: contact;
    margin: auto;
    padding: 20px;
    width: 80%;
}

#contact-info div p{
    text-align: right;
}

#contact-info p {
    text-align: left;
}

#contact-info p:last-child {
    text-align: right;
}


#footer-logo {
    grid-area: logo;
    margin: auto;
}

#footer-seal {
    grid-area: credit;
    margin: auto;
}

#social-links {
    grid-area: social;
    text-align: center;
}

#social-links img {
    width: 50px;
    padding: 0 15px 0 15px;
}

#dir {
    grid-template-columns: 1fr 1fr;
}


#join {
    margin: 10%;
    text-align: center;
}

form {
    background-color: rgba(0,0,0,.6);
    color: white;
    width: 80%;
    margin: auto;
    padding: 15px;
    text-align: left;
    box-shadow: 2px 2px 5px black;
}

form input {
    margin-bottom: 10px;
    height: 2em;
}

