@import "./partials/layout";
@import "./partials/colors";
@import "./partials/typography";
@import "./partials/spheres";
@import "./partials/animations";

@import "./partials/intro";
@import "./partials/main";
@import "./partials/sidebar";
@import "./partials/footer";


.spheres {
   font-size: .55em;
}